<!DOCTYPE html>
<html>
    <head>

        <title>Lambent Aether</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Archivo+Black' rel='stylesheet' type='text/css'>

         <!-- Compiled and minified CSS -->
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
        {% block extrahead %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div data-role="header">
                 <h1>Lambent Aether</h1>
            </div>
            body extend me
        {% endblock %}
    </body>
</html>