{% extends "base.jinja2" %}

{% block extrahead %}
    <link rel="stylesheet" href="/assets/css/landing.style.css"/>
{% endblock %}

{% block body %}

    <div data-role="page" id="demo-page">
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Lambent Aether</a>
            <ul class="right">
                <li><a href="#">Currently: <span class="statusbox"></span> </a></li>
            </ul>
{#            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>#}
        </div>
    </nav>
        <div data-role="content" class="ui-content">
            {% for p in progs %}
                      
                <div class="square waves-effect waves-light light-blue accent-1">

                    <div class="content">
                        <a href="/set?prog={{ p }}" class="buttan" >
                        <div class="table">
                            <div class="table-cell">
                                {{ p }}
                            </div>
                        </div>
                        </a>
                    </div>

                </div>

            {% endfor %}
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.buttan').click(function (event) {
                event.preventDefault();
                $.ajax({
                    url: $(this).attr('href'), success: function (response) {
                        console.log($(this).attr('href'))
                    }
                })
                return false; //for good measure
            });

        });
        (function updater() {
                $.ajax({
                    url: '/status',
                    success: function (data) {
                        console.log(data);
                        $('.statusbox').text(data['running']);
                    },
                    complete: function () {
                        // Schedule the next request when the current one's complete
                        setTimeout(updater, 500);
                    }
                });
            })();

    </script>
{% endblock %}